@font-face {
    font-family: 'LOT';
    src: url('../fonts/LOT.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #111; /* Fond sombre pour la navbar */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Logo */
.navbar .logo {
    font-size: 24px;
    font-family: 'LOT';
    color: white;
}

/* Navbar Links */
.nav-links {
    display: flex; /* Affichage horizontal pour les grands écrans */
    list-style: none;
    margin-left: auto; /* Aligner les liens à droite */
    gap: 20px; /* Espacement uniforme entre les éléments */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    font-size: 14px;
    padding: 5px 10px;
}

.nav-links a:hover {
    color: #a7a7a7;
    background-color: rgba(255, 255, 255, 0.1); /* léger fond sur hover */
    border-radius: 5px;
}

/* Liens de connexion et d'inscription à droite */
#auth-links {
    display: flex;
    gap: 20px;
}

#auth-links a {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 30px; /* Bord arrondi pour un effet moderne */
    background-color: #444; /* Fond de l'arrière-plan */
    transition: background-color 0.3s ease;
}

#auth-links a:hover {
    background-color: #666; /* Fond plus clair au survol */
}

/* Profil */
#profile-link a {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: #444;
    transition: background-color 0.3s ease;
}

#profile-link a:hover {
    background-color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        padding: 15px 20px;
    }

    .nav-links {
        display: none; /* Masquer les liens sur petits écrans */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #111;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex; /* Afficher les liens quand ils sont actifs */
    }

    .nav-links li {
        margin-bottom: 20px; /* Espacement vertical entre les éléments */
    }

    #auth-links {
        display: none; /* Cacher les liens d'inscription et connexion sur mobile */
    }
}

.separation {
    border: none;
    border-top: 2px solid #FFF; /* Couleur et épaisseur de la ligne */
    margin: 50px 0; /* Espace autour de la ligne */
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    line-height: 1.6;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

/* Hero */
header {
    height: 100vh;
    background: url('../img/background_debat.JPG') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

header h1 {
    font-size: 90px;
    letter-spacing: 2px;
    color: white;
    font-family: 'LOT';
}

header p {
    font-size: 1.5rem;
    margin-top: 10px;
    color: white;
}

.btn-apropos {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFF;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-apropos:hover {
    background-color: #a7a7a7;
}

/* Style pour le bouton d'inscription à l'événement */
.event-registration {
    text-align: center;
    padding-top: 30px;
}

.btn-inscription {
    display: inline-block;
    font-size: 19px;
    background-color: #28a745; /* Vert comme sur la page événements */
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-inscription:hover {
    background-color: #218838; /* Vert plus foncé lors du survol */
    transform: scale(1.05); /* Légère augmentation de taille */
    cursor: pointer;
}

/* Présentation */

#a-propos {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;
    background-color: black;
}

#a-propos h2 {
    text-align: center;
}

#a-propos .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#a-propos img {
    height: 47%;
    width: 47%;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    margin: 0 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

footer .social-links a:hover {
    color: #a7a7a7;
}
